* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;

}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

a {
  color: #0071CC;
}

.App-header {
  height: fit-content;
  width: 50%;
  font-size: 14px;
  padding: 1rem;

}

table {
  width: 100%;
}


.head-tr .head-td {
  background: #FFFFFF;
  border: 1px solid rgba(225, 225, 225, 1);
  font-weight: 600;
  width: 175px;
  height: 40px;
  text-align: left;
  /* padding: 8px, 10px, 8px, 10px; */
  padding: .2rem .8rem .2rem .3rem;
}

.flex2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrow {
  height: 16px;
  margin-top: 4px;
  cursor: pointer;
}

.flex2-profile {
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.profile {
  width: 25px;
  height: 25px;
  margin-top: 4px;
  cursor: pointer;
}



.sub-tr .head-td {
  border: 1px solid rgba(225, 225, 225, 1);
  /* padding: 8px, 10px, 8px, 10px; */
  padding: .2rem .8rem .2rem .3rem;
  line-height: 23px;
  font-weight: 400;
  width: 175px;
  height: 40px;
}

table {
  border-collapse: collapse;
}

tbody tr:nth-of-type(odd) {
  background: #F5F5F5;

}

.container-reset {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}

.container-reset button {
  padding: .5rem 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: bold;
}